[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cython = "*"
pybind11 = "*"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
mypy = "*"
tensorflow = "*"
keras = "*"
spacy = "*"
fasttext = "*"
nltk = "*"

[requires]
python_version = "3.7"
